extends ./common/base
block header
    link(rel='stylesheet', href='/stylesheets/about.css')

block content
    div(class='vs_about_wrap')
        section(class='vs_about_info')
            div
               img(class='vs_about_img' src='http://dummyimage.com/400x600/000/fff')

            div(class='vs_about_infoarea')
                p(class='vs_about_inforow')
                    span 昵称：
                    span #{username}
                p(class='vs_about_inforow')
                    span QQ：
                    span #{qq}
                p(class='vs_about_inforow')
                    span 邮箱：
                    span #{email}
                p(class='vs_about_inforow')
                    span 技能：
                    span #{skills}
                p(class='vs_about_inforow')
                    span 资历：
                    span #{years}
                p(class='vs_about_inforow')
                    span 自我介绍：
                    span #{description}
