extends ./common/base
block header
    link(rel='stylesheet', href='/stylesheets/dtl.css')

block content
    - var types = ['临摹作品','原创作品'];
    div.vs_artdtl_wrap
        div.vs_article_title
            span #{title}
            span= types[classify_first]
        div.vs_article_date
            span 发表时间:#{date}

        p.vs_article_des #{description}

        div.vs_article_images
            for imgItem in images
                div.vs_imgs_item
                    img(src='#{imgItem}')

        .ds-thread(data-thread-key='#{id}', data-title='#{title}', data-url='#{articleurl}')
        script(type='text/javascript').
          var duoshuoQuery = {short_name:"exvs"};
          (function() {
              var ds = document.createElement('script');
              ds.type = 'text/javascript';ds.async = true;
              ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
              ds.charset = 'UTF-8';
              (document.getElementsByTagName('head')[0]
              || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();



